---
layout: basic
---
  <body>
    
    <h1>{{ page.title }}</h1>
    
    <section>
      {{ content }}
    </section>
    
    <section>
		<a>O mais recente post é </a> <a href="{{ site.posts.first.url | relative_url }}">este.</a> <a>Segue a lista de posts.</a>
    </section>
    
    <hr>

    {% for post in site.posts %}
	    <div class="post-item">
		    <a href="{{ post.url | relative_url }}">{{ post.title }}</a> ->
		    <time>{{ post.date | date: "%d-%m-%Y" }}</time>
	    </div>
    {% endfor %}
    
  </body>
</html>
